<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509233451283-si66ckossg1hrv8f83o62pus46eom27p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509233451283-si66ckossg1hrv8f83o62pus46eom27p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>509233451283-5koi2vu8baln0ehlck3vmoit71kc9i47.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChX32jjELtwex5jSFCfkhJ2ca4mJ9uBSE</string>
	<key>GCM_SENDER_ID</key>
	<string>509233451283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vivifyhealthcare.lifeeazyindividual</string>
	<key>PROJECT_ID</key>
	<string>lifeeazyindividual</string>
	<key>STORAGE_BUCKET</key>
	<string>lifeeazyindividual.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509233451283:ios:af84fc54a7c93a2aafcae6</string>
</dict>
</plist>